


/* Fonts-Family (balumo) */

*
 {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}
.Agbalumo_Font_Style 
{
      font-family: Agbalumo, sans-serif;
}
.blur 
{
      -webkit-backdrop-filter: blur(30px);
      backdrop-filter: blur(30px); 
}
nav
{
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
}
    